body {
	margin: 0;
	padding: 0;
	background-color: #dfdfdf
}

#wrapper {
	position: relative;
	border: 1px solid #9c9898;
	width: 800px;
	height: 600px;
	display: inline-block;
	background-color: #8a8a8a;
}

#logger{
	margin-top: 64px;
	white-space: pre-wrap;
}

#chat_box{
	position: absolute;
	display: inline-block;
	margin-left: 24px;
	white-space: pre-wrap;
}